.carousel-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-arrow {
    z-index: 10;
  }
  
  .custom-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
    margin: 5px;
    cursor: pointer;
  }
  
  .custom-dot.slick-active {
    background: black;
  }
  